@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Loura;
  src: url("../public/LouraRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  width: 100%;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

section {
  position: relative;
  height: 100vh;
}

.spacer {
  aspect-ratio: 960 / 350;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
